ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

/*Mobile screen*/

.not-mobile,
.large-screen-nav {
    display: none;
}


.relative-position {
    position: relative;
}

.fixed-position {
    position: fixed;
}

.absolute-position {
    position: fixed;
}




.main {
    margin-top: 45px;
    padding-top: 20px;
}

.page-header {
    background-color: red;
    width: 100%;
    max-width: 100%;
    height: 40px;
    top: 0;
    z-index: 20;
}

.page-header .site-logo .svg {
    display: block;
    width: 132px;
    height: 20px;
    fill: white;
}

.header-middle {
    height: 100%;
    max-height: 40px;
    width: 100%;
    max-width: 100%;
    top: 0px;
}

.header-middle .site-logo {
    height: 40px;
    padding: 10px 0px;
    max-height: 40px;
    box-sizing: border-box;
}

.header-middle .link-head {
    height: 40px;
    padding: 7px 25px;
    text-transform: uppercase;
    font: bold 14px/14px "Roboto Condensed", sans-serif;
}

.header-middle .link-head a {
    padding: 6px;
    color: white;
}

.header-middle .link-head a:last-of-type {
    background-color: white;
    color: #f72210;
}

.header-middle .menu {
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 0;
    right: 0;
}

.header-middle .menu .svg {
    width: 16px;
    height: 16px;
    color: white;
    padding: 12px;
    box-sizing: content-box;
}


.title {
    font: bold 16px/16px "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    padding-bottom: 11px;
    color: rgba(3, 3, 3, 0.4);
}


.picture {
    position: relative;
}

.fixed-category {
    display: block;
    font: bold 17px/16px "Roboto Condensed", sans-serif;
    color: #f72210;
    text-transform: uppercase;
    padding: 8px 15px 9px;
    background-color: rgba(255, 255, 255, .9);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.article {
    padding-bottom: 20px;
}

.article .picture {
    margin-bottom: 10px
}

.featured-others h2 {
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
}

.more {
    font: bold 19px/22px "Roboto Condensed", sans-serif;
    color: #000;
    margin-top: 16px;
    border-top: 1px solid #d9d9d9;
    padding: 10px 0;
}

a:hover {
    color: #f72210;
}

.fetured-story-more {
    padding-top: 14px;
    padding-bottom: 14px;
    border-top: 1px solid #ddd;
}

.featured-story-more .article {
    padding-top: 14px;
    padding-bottom: 14px;
    border-top: 1px solid #ddd;
}

.featured-story-more .picture {
    float: left;
    width: 135px;
    margin-right: 15px;
}

.featured-story-more .heading {
    font-size: 17px;
    line-height: 20px;
}


.featured-story-section .heading {
    font-size: 20px;
    line-height: 20px;
}



.sponsored-insight .picture {
    margin: 0;
}

.sponsored-insight .info {
    border: 1px solid #e6e6e6;
    background-color: #f8f8f8;
    padding: 20px;
}

.first-second li {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
}

.first-second li:first-of-type {
    border-top: 0;
    padding-top: 0;
    padding-bottom: 10px;
}

.opinion {
    font: bold 17px/21px "Roboto Condensed", sans-serif;
    color: #000;
    margin-bottom: 30px;
}

.opinion .image-headshot {
    width: 63px;
    height: 63px;
    overflow: hidden;
    position: relative;
    margin-right: 15px;
}

.opinion .author-name {
    font-size: 14px;
    line-height: 21px;
    color: #555;
    text-transform: uppercase;
    margin-top: 4px;
}

.lastest-news {
    font: bold 17px/21px "Roboto Condensed", sans-serif;
    color: #000;
    margin-bottom: 30px;
}

.lastest-news .picture {
    width: 135px;
    margin-right: 15px;
}

.newsletter {
    max-width: 300px;
    margin: 0 auto 30px;
    border: 1px solid #e5e5e5;
    background-color: #f4f5f6;
    padding: 20px;
}

.newsletter .card-title {
    font: bold 19px/19px "Roboto Condensed", sans-serif;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.newsletter .button:hover {
    background-color: #999;
}

.newsletter a {
    color: #333;
    font: bold 15px/15px "Roboto Condensed", sans-serif;
}

.newsletter .more {
    display: block;
    background-color: #f4f5f6;
    color: #000;
    text-align: center;
    margin-bottom: 0;
}


.issue .link {
    display: block;
    background-color: #f4f5f6;
    color: #000;
    text-align: center;
    margin-bottom: 0;
}

.issue .link.arrow::after {
    background-image: url("../assets/arrow-black.svg");
}

.section-title {
    font: bold 19px/19px "Roboto Condensed", sans-serif;
    margin-bottom: 15px;
    text-transform: uppercase;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 12px;
}

.magazine .article .category {
    font: bold 16px/26px "Roboto Condensed", sans-serif;
    color: #f72210;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}

.magazine .article span.tag {
    padding: 0 7px;
    display: inline-block;
    background-color: #f72210;
    color: #fff;
    margin-right: 7px;
}

.in-magazine .section-title {
    margin-top: 30px;
    border: none;
}

.editor-pick {
    margin-bottom: 20px;
}

.featured-slideshows .icon {
    position: relative;
    display: block;
    width: 29px;
    height: 28px;
    background: url("../assets/logo.svg") center/contain no-repeat #f72210;
    margin-right: 10px;
}

.featured-slideshows .icon::after {
    border-bottom: 3px solid red;
    border-right: 3px solid red;
    display: block;
    content: "";
    width: 26px;
    height: 25px;
    position: absolute;
    bottom: -4px;
    right: -4px;

}

.featured-slideshows .picture {
    position: relative;
    margin-bottom: 20px;
}

.featured-slideshows .count-link {
    width: 70px;
    height: 52px;
    display: block;
    position: absolute;
    padding: 0;
    bottom: 0;
    left: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 58px;
    text-indent: 5px;
    text-align: center;
    background: url(../assets/icon-slideshows.png) 0 0/contain no-repeat;
    color: #e9212e;
}

.section-pick .block-title {
    border-top: 1px solid #d9d9d9;
    color: #f72210;
    padding-top: 25px;
    padding-bottom: 11px;
    text-transform: none;
    font: bold 22px/22px "Roboto Condensed", sans-serif;
}

.section-pick .article {
    padding: 0;
}

.section-pick .article h4 {
    margin-top: 10px;
    margin-bottom: 25px;
}

.sub-feature {
    font: bold 17px/21px "Roboto Condensed", sans-serif;
}

.sub-feature .picture {
    float: left;
    width: 135px;
    margin-right: 15px;
}

.sub-feature li {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sub-feature li:first-of-type {
    border-top: 0;
    padding-top: 0;
    padding-bottom: 10px;
}

.title {
    color: red;
}

.subscribe .item-wrap {

    background-color: #f4f5f6;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    margin-bottom: 30px;

}

.item-wrap .item {
    padding-top: 20px;
    padding-bottom: 20px;
}

.item-wrap .item .picture {
    width: 127px;
    margin-right: 20px;
}

.checkmark {
    font-size: 26px;
    vertical-align: top;
    text-align: center;
    font-family: "Genericons";
    cursor: pointer;
    display: inline-block;
    color: #999;
}

.item.two {
    border-top: 1px solid #d2d2d2;
}

.subscribe .button {
    background-color: #f72210;
}

.subscribe .button:hover {
    background-color: #de1f0e;
}

.most-read-list .picture {
    width: 100px;
    margin-right: 15px;
}

.most-read-list .list {
border-top: 1px solid #d9d9d9;
padding: 12px 0;
font: bold 17px/21px "Roboto Condensed",sans-serif;
color: rgba(12,11,11,.95);
}